## Introduction to pyhton

# "pyhton is an interpreted, object-orinted,high-level programming language with dynamic semantics.
1- its high-level built in data structures.
2- its combined with dynamic typing and dynamic binding, mnake it very attractive for Rapid application development, as well as for  use a scripting or glue language to connec t existing components together. 
3-  pyhton is to earn and have easy syntax emphasizes readability.
4-And it reduces the cost of programming maintenance.
5-python supports modules and packages.

# What is ineractive programming in pyhton? 5 MARKS.

When we run a program derictly from terminal, and the output is instant. We dont need a helper command to run the script to run the code. its is called interactive programming in pyhton.

# What is script programming in pyhton ? 5 MARKS 

When we submit the code or script to the complier using a helper command. In the case of pyhton the terminal command is "pyhton -file name"

# INTERACTIVE PYTHON IN JUPYTER

In [2]:

a= 30
b=20 
print("What Is the product of a and b")
print(a*b)

What Is the product of a and b
600

# Script mode in jupyter NOtebook

In [3]:
a=40
b=40
print("sum of a+b")
print(a+b)

sum of a+b
80

In this script mode we to run code by terminal by enter the code in ternimal by command of your file.name.py

# Dynamic types in pyhton

pyhton as a script or language is what" dynamiclly typed", means the variable are declared ducring runtime and there datatype is not explicilty specified

what dynamic means here you are not specify the datatype for run the code like in eg; 
    in pyhton it is auto filled in pyhtonb

In [4]:
a =30

In [5]:
type(a)

int

# What is the command to check the data type ?

type() : give the data type of the vairable currently in use as you can see in above eg

# What are immutable data type ()?

The data types where values cannot be changed once assigned

Immutable data types

1--> integer(int)
2--> floating point ( FLOAT)
3--> boolean ( bool)
4--> string (str)
5--> frozenset
6--> tuples

In [6]:
a="abcd"
print(a)
a="a6cd"
print(a)

abcd
a6cd

# What is tuple?

it is also a immutable

# pyhton is an Object-Oriented language

In python, everything is an object
that means these are all object:
1- int-10
2- string-"heelo"
3- lists-[1,2,3]
4- function- print, len
5- classes- str,list
6- even modules - math, os  sdfdbkbisbhufigiug

In [7]:
i = [1,2,3,4,5,]
for item in i:
    print(item)

1
2
3
4
5

In [8]:
for item in range(0,5):
    print(item)

0
1
2
3
4

In [ ]:
l=[2,5,7,9,12,61]

In [5]:
for indx,item, in enumerate(l):
    print(item,indx)
    if item % 2 == 0:
           l[indx]=0

NameError: name 'l' is not defined

In [30]:
l=[2,3,4,5,6,7,8,9,10]

In [31]:
for indx ,item in enumerate(l):
    print("THE item value is : ",item)
    print("THE indx is :",indx)

THE item value is :  2
THE indx is : 0
THE item value is :  3
THE indx is : 1
THE item value is :  4
THE indx is : 2
THE item value is :  5
THE indx is : 3
THE item value is :  6
THE indx is : 4
THE item value is :  7
THE indx is : 5
THE item value is :  8
THE indx is : 6
THE item value is :  9
THE indx is : 7
THE item value is :  10
THE indx is : 8

In [40]:
for indx ,item in enumerate(l):
    print("THE item value is : ",item)
    print("THE indx is :",indx)
    if item=0

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3577617906.py, line 4)

In [53]:

l = [1,2,3,4,55.,6,7,8,9,10]
len (l)

10

In [56]:
for item in range (len(l)-1):
    if l[item+1]-l[item]!=1:
        print("the list is not natural")
        break
else:
     print("the  list is natural")

the list is not natural

In [58]:
flag = False
for item in range (len(l)-1):
    if l[item+1]-l[item]!=1:
        flag ==True
        print("The list not natural")
else:
     print("the list is natural")

The list not natural
The list not natural
the list is natural

[2, 4, 0, 6, 7, 8, 9, 11]
[2, 4, 0, 6, 0, 8, 9, 11]
[2, 4, 0, 6, 0, 8, 0, 11]
[2, 4, 0, 6, 0, 8, 0, 0]